section
.contianer
.hero__cards{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 160px;
    position: relative;

}
 /* section
.contianer
.hero__cards
.hero-righet{
    width: 400px;

}  */
section
.contianer
.hero__cards
.hero-righet
.righetSection{
    display: flex;
    justify-content: space-between;
    position: relative;
}
section
.contianer
.hero__cards
.hero-righet
.righetSection
.hrto--text
.line{
    border: 1px solid #C8C8C8;
    width: 450px;
    /* border-bottom: 3px solid #070707;
    background-color: #010101; */
     /* margin: 20px auto; */
} 
.hero--leftTextIcon{
    margin-top: 109px;
    margin-left: -90px;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #757683;
}
.nuqta{
    font-weight: 900;
    position: relative;
    right: 10px;
    bottom: 4px;

}
.iconka{
    position: relative;
    left:3px 
}
section
.contianer
.hero__cards
.hero-righet
.righetSection
.hrto--text
span{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #1B1C23;
    
}
section
.contianer
.hero__cards
.hero-righet
.righetSection
.hrto--text h3{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;    
    color: #1B1C23;
    
}
section
.contianer
.hero__cards
.hero-righet
.righetSection
.hrto--text p{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #757683;
    margin-top:  1px;
    
}
.hero--leftTextIcon
.leftTextIcon-center2{
    position: relative;
    top: 83px;
}
.hero--leftTextIcon
.leftTextIcon-center2 .nuqta2{
    font-weight: 900;
    position: relative;
    bottom: 5px;
    right: 11px;
}
.iconka3{
    position: relative;
    top: 46px;

}
.bottom{
    position: relative;
    top: 46px;
}
.nuqta3{
    font-weight: 900;
    position: absolute;
    right: 103px;
    bottom: 2px;
   
}
.hero-left
span{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #1B1C23; 
}
.hero-left
h3{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #1B1C23;
}
.hero-left
p{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #757683;

}
.hero-left
.line{
    border: 1px solid #C8C8C8;
    width: 450px;
}
.Experience_righet{
    display: flex;
}
.Experience_txt{
    position: relative;
    left: 20px;
}
.raqam
.leftTextIcon-center_l
span{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
     color: #757683;
    
}
.leftTextIcon-center_l{
    position: relative;
    bottom: 216px;
    left: 133px
}
.raqam
.leftTextIcon-center_l
.iconka3{
    position: relative;
    left: 65px;
    bottom: 10px;
}
.leftTextIcon-center_b{
    position: relative;
    bottom: 106px;
    left: 215px;
}
.raqam
.leftTextIcon-center_b
span{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
     color: #757683;
}
.raqam
.leftTextIcon-center_b
.iconka3{
    position: relative;
    left: 60px;
}
.leftTextIcon-center_c{
    position: relative;
    left: 48px;
    top: 8px;
}

.raqam
.leftTextIcon-center_c
span{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
     color: #757683
}
.raqam
.leftTextIcon-center_c
.iconka3{
    position: relative;
    left: 60px;
}
/* ============section end================ */

/* main start */
.saction
.contianer
.blac-hero{
     background-image: url(./img/Bg.png);
     height: 520px;
     width: 1140px;
     background-size: contain;
    background-repeat: no-repeat;
    margin-top: 160px;
}
 .saction
.contianer
.blac-hero
img{
    background-size: contain;
    position: relative;
    width: 450px;
    height: 350px;
    object-fit:contain ;
}
.saction
.contianer
.blac-hero
.mainCards {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText h3{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    width: 578px;
  
}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText{
    width: 700px;
}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText h4{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 4px;
    color: #FFFFFF;

}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText p{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #A6A7AE;
    margin-top: 25px;
}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText button{
    background: #FF694B;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 171px;
    height: 60px;
}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText button:hover{
    background-color: rgb(10, 10, 10);
    padding: 3px;
}
.saction
.contianer
.blac-hero
.mainCards 
.main_section-righet
.main__righetText button:active{
    border: 2px solid #FF694B;
}
/* ===========main end========================= */
figure
.contianer
.Testimonial
.Testimoinal__top{
     margin: 36px auto;
    display: table; 

}
figure
.contianer      
.Testimonial
.Testimoinal__top img{
    width: 58px;
    height: 50px;
       
}
figure
.contianer
.Testimonial
.Testimoinal__top h1{
    position: relative;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #1B1C23;
    right: 50px;
}
figure
.contianer
.Testimonial
.Testimoinal__top p{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FF694B;
    position: relative;
    right: 40px;
}
.testioinal__center{
     width: 500px;
    height: 211px;
    margin: 0 auto;
    

}
.testioinal__center
.center-text
p{
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 600;
    font-size: 19px; 
    line-height: 24px;
    text-align: center;
    color: #757683;  
    position: relative;
    width: 367px;
   
   
}
.renctangle{
    display: flex;
    justify-content: space-between;
}
.btn__righet{
    position: relative;
    bottom: 125px;
    right: 138px;
    padding: 3px
}
.btn__left{
    position: relative;
    bottom: 126px;
    left: 23px;
}
figcaption
.contianer
.figcaption__bottom{
         display:flex;
        justify-content: space-around;
        align-items:center;
        margin: 36px auto;
        /* display: table; */ 
        gap:60px;
        width: 550px;
}